<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100" style="width: 280px; min-height: 100vh">
  <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" class="nav-link active" aria-current="page">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#home" />
        </svg>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/admin/product-list" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#speedometer2" />
        </svg>
        Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/admin/orders" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#table" />
        </svg>
        Orders
      </a>
    </li>
    <li>
      <a routerLink="/admin/products/list" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16">
          <use xlink:href="#grid" />
        </svg>
        Products
      </a>
    </li>
  </ul>
  <hr />
  <div class="dropdown">
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li><a class="dropdown-item" routerLink="/admin/new-project">New project...</a></li>
      <li><a class="dropdown-item" routerLink="/admin/settings">Settings</a></li>
      <li><a class="dropdown-item" routerLink="/admin/profile">Profile</a></li>
      <li>
        <hr class="dropdown-divider" />
      </li>
      <li><a class="dropdown-item" routerLink="/admin/signout">Sign out</a></li>
    </ul>
  </div>
</div>
